<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Add a new Animal</title>
</head>
<body>
    <form action="/animals" method="post">
    Animal Name:<input type="text" name="name">
    Animal Color:<input type="text" name="color">
    <input type="submit" value="Create New Animal">
    </form>
</body>
</html>